/* alegreya-sans-regular - cyrillic_cyrillic-ext_latin_latin-ext */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Alegreya Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/alegreya-sans-v25-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }



.fon {
    color:#E6E6FA;
}


body
{
  font-family: 'Alegreya';
}


h1 {
    color: #760276;
  font-size: 35px;
            text-align: center;
}

h9 {
    color: #800080;
	font-size: 25px;
        text-align: center;
}

h10 {
    color: #a90da1;
	font-size: 20px;
        text-align: center;
}



nav {
    width: 100%;                                     /* Меню на всю ширину страницы */
    border-bottom: 3px solid #6c2b75;               /* Нижняя граница (полоска) */
}



nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;                /* Размещаем элементы с равными промежутками */
}

nav ul li {
    margin: 0;
}

nav ul li a {
    display: block;
    color: #800080;
    padding: 20px 30px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
	font-size: 20px; 
}

nav ul li a:hover {
    background-color: #f9e2ff;
}

nav ul li a img {
    vertical-align: middle;
    margin-right: 10px;
    width: 120px;
    height: auto;
}






{
    box-sizing: border-box;
}





header{
    padding: 1rem;
    text-align: center;
    background-image: url(../images/01.jpg);
    height:120px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}





.block-about {
    background-color: #f9f3fc; 
    padding: 20px;                          /* Внутренние отступы */
    margin: 0;                             /* Убираем внешние отступы */
    border-left: 5px solid #dbe9fc;     /* Полоса слева */
    font-size: 18px; 
    color: #333; 
    line-height: 1.6;                     /* Межстрочный интервал */
    box-sizing: border-box;               /* Учитываем отступы */
    width: 100%;   
    border-radius: 10px;                        
   
}

.block-about h2 {
    color: #581260; 
    font-size: 28px; 
    margin-bottom: 10px;                  /* Отступ под заголовком */
}

.about-content {
    display: flex;                        /* Используем Flexbox для размещения текста и изображения рядом */
    align-items: center;                  /* Выравниваем по вертикали */
    gap: 100px;                           /* Добавляем отступ между текстом и изображением */
}

.about-text {
    flex: 2;                              /* Текст занимает 2/3 ширины */
    text-align: justify;                  /* Выравниваем текст по ширине */
}

.about-image {
    flex: 1;                              /* Картинка занимает 1/3 ширины */
}

.about-image img {
    width: 330px;                         /* Фиксированная ширина */
    height: auto;                         /* Автоматическая высота для сохранения пропорций */
    border-radius: 10px;                  /* Скругляем углы изображения */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);   /* Добавляем лёгкую тень */
}



html {
    scroll-behavior: smooth;                      /* Плавный скроллинг к блоку*/
}




.block-kon {
    background-color: #f2fffe; 
    padding: 20px;                            /* Внутренние отступы */
    margin: 0;                                /* Убираем внешние отступы */
    border-left: 5px solid #c9eeff;         /* Полоса слева */
    font-size: 18px; 
    color: #333; 
    line-height: 1.6;                         /* Межстрочный интервал */
    box-sizing: border-box;                   /* Учитываем отступы */
    width: 100%;     
    border-radius: 10px;                          
   
}

.block-kon h3 {
    color: #15355e; 
    font-size: 28px; 
    text-align: center;
    margin-bottom: 10px; 
}

.kon-container {
    display: flex;                            
    justify-content: space-between;           /* Равномерное распределение элементов */
    align-items: center;                      /* Выравнивание по вертикали */
    gap: 10px;                                /* Расстояние между элементами */
    flex-wrap: nowrap;                        /* Запретить перенос на новую строку */
}

.kon{
    text-align: center; 
    max-width: 100px;                         /* Ограничиваем ширину элемента */
}

.kon img {
    max-width: 80px;                          /* Уменьшить логотипы */
    height: auto;
    margin-bottom: 10px;                      /* Отступ под логотипом */
    border-radius: 8px;                       /* Скругляем углы у логотипа */
}

.kon p {
    font-size: 16px; 
    color: #333; 
    margin: 0;                                 /* Убираем лишние отступы */
}




.block-services {
    background-color: #fffbea; 
    padding: 20px;                            /* Внутренние отступы */
    margin: 0;                                /* Убираем внешние отступы */
    border-left: 5px solid #fff1b8;         /* Полоса слева */
    font-size: 18px; 
    color: #333; 
    line-height: 1.6;                          /* Межстрочный интервал */
    box-sizing: border-box;                    /* Учитываем отступы */
    width: 100%;  
    border-radius: 10px;                              
   
}

.block-services h4 {
    color: #4a1b0e; 
    font-size: 28px; 
    margin-bottom: 10px; 
}

.services-container {
    display: flex;                             /* Flexbox для разделения на колонки */
    justify-content: center;                    /* Центрирование колонок */
    gap: 20px;                                  /* Расстояние между колонками */
    flex-wrap: wrap;                            /* Перенос колонок на маленьких экранах */
}

.services-list {
    list-style-type: disc; 
    margin: 0;
    padding: 0 20px;                         /* Внутренние отступы для колонок */
    flex: 1;                                 /* Равномерное распределение ширины */
}

.services-list li {
    margin-bottom: 10px;                       /* Отступ между пунктами */
    font-size: 18px; 
    color: #333; 
}



.block-port{
    background-color: #f9f3fc;
    padding: 20px;                              /* Внутренние отступы */
    margin: 0;                                  /* Убираем внешние отступы */
    border-left: 5px solid #f9e4ff;           /* Полоса слева */
    line-height: 1.6;                           /* Межстрочный интервал */
    box-sizing: border-box;                     /* Учитываем отступы */
    width: 100%;                               
    text-align: center; 
    border-radius: 10px; 
}

.block-port h5 {
    color: #5f1368; 
    font-size: 28px; 
    margin-bottom: 15px; 
}

.block-port p {
    color: #581260;
    font-size: 20px;
    margin-bottom: 8px; 
    margin-bottom: 8px; 
}

.port-list {
    color: #581260; 
    list-style-type: disc; 
    text-align: left; 
    margin: 0 auto 20px; 
    max-width: 600px;                       /* Ширина списка */
    padding-left: 20px;                     /* Отступы для маркеров */
}

.port-list li {
    font-size: 20px; 
    color: #581260; 
    margin-bottom: 10px; 
}

.btn {
    background-color: #581260; 
    color: white; 
    font-size: 18px; 
    padding: 10px 20px;                  /* Внутренние отступы */
    border: none; 
    border-radius: 8px;                  /* Скругление углов */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Тень кнопки */
    cursor: pointer;                       /* Указатель при наведении */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Плавный переход при наведении */
}

.btn:hover {
    background-color: #357ab8; 
    transform: scale(1.05);               /* Увеличение кнопки при наведении*/
}

.btn:active {
    background-color: #2d6399;            /* Цвет кнопки при нажатии */
    transform: scale(0.95);                  /* Уменьшение кнопки при нажатии */
}



/* Отступ между блоками*/
.block-about,
.block-kon,
.block-services,
.block-port{
    margin-bottom: 20px;       /* Отступ снизу */
}
.block-kon {
    margin-top: 20px;        /* Отступ сверху для второго блока (если нужно) */
}
.block-services {
    margin-top: 20px; 
}
.block-port{
    margin-top: 20px;
}
footer {
    margin-top: 20px; 
}




.text-box {
	color:#800080 ;
	font-size: 25px;
            text-align: center;
        }






/* Таблица */
.resume-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили для заголовков таблицы */
.resume-table thead th {
    background-color: #800080;
    color: white;
    text-align: left;
    padding: 10px;
    font-size: 16px;
}

/* Стили для строк таблицы */
.resume-table tbody tr:nth-child(odd) {
    background-color: #fff;                       /* Белый фон */
}

.resume-table tbody tr:nth-child(even) {
    background-color: #fbf5ff;                      /* Светло-фиолетовый фон */
}

/* Стили для строк таблицы */
.resume-table tbody td {
    padding: 10px;
    border: 1px solid #800080;
    color: #333;                                           /* Цвет текста в ячейках (например, тёмно-серый) */
}


.resume-table tbody td {
    padding: 10px;
    border: 1px solid #800080;
}

/* Выравнивание текста в ячейках */
.resume-table tbody td {
    vertical-align: top;
}





.achievement {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.achievement-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.achievement-item.reverse {
    flex-direction: row-reverse; /* Меняем порядок блоков */
}

.achievement-text {
    width: 50%;
    padding: 20px;
}

.achievement-text h6 {
    font-size: 28px;
    color: #66125f;
    margin-bottom: 10px;
}

.achievement-text h7 {
    font-size: 28px;
    color: #540e58;
    margin-bottom: 10px;
}

.achievement-text p {
    font-size: 18px;
    color: #333;
}

.achievement-photo {
    width: 40%;
    text-align: center;
}

.achievement-photo img {
    max-width: 85%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.divider {
    border: 0;
    height: 2px;
    background: #800080;
    margin: 20px 0;
}




/* Родительский контейнер */
.container {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; /* Отступ между блоками */
    padding: 0 120px;
}

/* Индивидуальные блоки */
.text-box-one {
    border: 2px solid rgb(80, 20, 82); 
    padding: 10px; 
    width: 300px; 
    height: 100px; 
    font-size: 16px; 
    text-align: center; 
    align-items: center; 
    justify-content: center; 
}



h8 {  
    font-size: 25px;  
    font-weight: bold;  
    color: #5a0e53;  
    text-align: center;  
    margin-bottom: 20px; 
    width: 100%;  /* Убедимся, что элемент занимает всю ширину */
    display: block; /* Блочный элемент для корректного центрирования */
    margin-top: 50px;  /* Добавляем отступ сверху для пространства над заголовком */
}

/* Общий стиль формы */
.feedback-form {
    background: #fff;
    border: 1px solid #280e1b;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0 auto; /* Центрируем форму по горизонтали */
}

/* Изменение цвета названий полей */
.feedback-form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #450b40; 
    font-size: 20px; 
    margin: 20px auto; /* Центрирование формы */
}


/* Поля ввода (Имя, E-mail, Сообщение) */
.feedback-form input[type="text"],
.feedback-form input[type="email"],
.feedback-form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #230912;
    border-radius: 4px;
    box-sizing: border-box;
    color: #66125f; 
    font-size: 16px;
    background-color: #f9f9f9;
}

/* Цвет текста в подсказках (placeholder) */
.feedback-form input[type="text"]::placeholder,
.feedback-form input[type="email"]::placeholder,
.feedback-form textarea::placeholder {
    color: #999; 
    font-style: italic; 
}

/* Стиль при фокусе на поле */
.feedback-form input[type="text"]:focus,
.feedback-form input[type="email"]:focus,
.feedback-form textarea:focus {
    outline: none;
    border-color: #800080; 
    background-color: #f4f0f7; 
    color: #540e58; 
}

/* Поле "Отправить" */
.feedback-form input[type="submit"] {
    background-color: #800080;
    color: white;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    width: 100%;
}

.feedback-form input[type="submit"]:hover {
    background-color: #56a8eb; /* Цвет кнопки при наведении */
}





footer {
    background-color:#E6E6FA ;
    color:#800080 ;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    border-radius: 10px; 
}
